body {
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(
      rgba(223, 223, 234, 0.7),
      rgba(223, 223, 234, 0.7)
    ),
    url(./image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-bottom: 50px;
}
.title {
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}

.section-title {
  font-weight: 500;
  text-align: center;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1400px;
    display: flex;
  }
  section {
    width: calc(100% / 2);
  }
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu-form {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.sub-title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}

.manu-select {
}

@media screen and (min-width: 768px) {
  .sub-title {
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: left;
  }

  .menu-form {
    margin-left: 200px;
    margin-right: 200px;
  }
}

.submit-menu {
  margin-top: 40px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .submit-menu {
    margin-bottom: 0;
  }
}

.shopping {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .shopping {
    padding-left: 100px;
    padding-right: 100px;
  }
}
.shopping-list {
  max-height: 450px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.shop-item {
  font-weight: 300;
  width: 200px;
  height: 25px;
}

.shop-item:hover,
.shop-item:focus {
  display: inline-block;
  cursor: pointer;
}

.shop-item.checked {
  color: #d3d3d3;
  text-decoration: line-through;
}

.add-shop-item {
  margin-top: auto;
  display: flex;
  flex-direction: column;
}

.add-input {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.add-button {
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
}

@media screen and (min-width: 768px) {
  .add-shop-item {
    margin-top: auto;
    display: inline;
    text-align: center;
  }
  .add-input {
    display: inline;
    margin: 0;
  }
  .add-button {
    width: auto;
  }
}

.reset-btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;

  margin-right: auto;
  cursor: pointer;
}
